:root {
    --font-title: 'Exo 2', sans-serif;
    --font-body: 'Roboto', sans-serif;
    --primary-color: #2980B9;
    /* Darker Blue for better contrast */
    --secondary-color: #27AE60;
    /* Darker Green for better contrast */
    --accent-color: #F4F6F7;
    /* Light Neutral */
    --text-color: #2C3E50;
    /* Dark Slate */
    --dark-font: #1A252F;
}

body {
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: var(--accent-color);
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    color: var(--primary-color);
    text-align: center;
    padding: .5rem;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: var(--font-body);
}