h1 {
    text-align: center;
}
main {
    margin: 0 auto;
    width: 300px;
    display:flex;
    flex-direction: column;
}
img {
    width: 100%;
    background: #f3f3f3;
    animation: fade 15s;
}
@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}