body {
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
}
h1 {
    border-bottom: 1px solid #bbb;
    font-family: 'Arial', sans-serif;
}
table {
    border-collapse: collapse;
    border: 1px solid #eee;
}
th, td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: center;
}
th {
    background-color: #000;
    color: #fff;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ace;
}
caption {
    caption-side: top;
    font-size: 1.1rem;
    padding: 0.5em;
    font-weight: bold;
}