body {
    background-color: #ffffff;
    font-family: Roboto;
    
}
header {
    max-width: 640px;
    margin: auto;
    margin-bottom: 1em;
    background-color: #04846f;
    box-shadow: 0 0 .5em #fff;
    padding: 1em;

}
header h1 {
    margin: 1em auto auto;
    border-bottom: 3px solid;
    text-align: center;
}
main {
    max-width: 640px;
    margin: auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 .5em black;
}
table {
    margin: auto;
    border: solid gray;
    box-shadow: 0 2px .5em;
    border-collapse: collapse;
}
caption {
    font-size: .85rem;
    caption-side: bottom;
    padding: .3em;
}
td {
    border: 1px solid gray;
    padding: .5em 1em;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
th {
    border: 1px solid black;
    padding: .5em 1em;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
}
tbody th {
    background-color: #fff;
    color: #000;
    border: 1px solid gray;
}
tbody tr:nth-child(even) {
    background-color: lightgray;
}
footer {
    max-width: 640px;
    margin: 1em auto 0;
    background-color: #000;
    box-shadow: 0 0 .5em black;
    padding: 1em;
    text-align: center;
    color: #fff;
}