/*Does not include a media query, uses roboto font in the body rule*/
/*header, amin , and footer have max width of 640px, are centered using margin 1 rem auto, include a faint border, fluish backgrownd, and appropriate padding*/
/*main element is a css grid with grid template of only one column, and an equal gap of 1rem*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    background-color: #e6f2ff;
    padding: 1rem;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
header h1, footer p {
    text-align: center;
}
section {
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
}